<Context>
    <Resource name="jdbc/datasource"
              auth="Container"
              type="javax.sql.DataSource"
              driverClassName="com.mysql.jdbc.Driver"
              username="root"
			  password="385152"
			  url="jdbc:mysql://127.0.0.1:3306/jsk?useUnicode=true&amp;characterEncoding=UTF-8"
              maxActive="50"
              maxWait="5000"
              testOnBorrow="true"
              validationQuery="select 1"
              removeAbandoned="true"
              removeAbandonedTimeout="300"
              logAbandoned="true"
              factory="com.alibaba.druid.pool.DruidDataSourceFactory"
              filters="stat"
              connectionProperties="druid.stat.mergeSql=true;druid.stat.slowSqlMillis=10000"
              useGlobalDataSourceStat="true"  />
              
   
</Context>